.username-label, .password-label {
    margin-top: 0.4rem;
}

.username-field {
    margin-top: 0.2rem;
}

.password-field {
    margin-top: 0.2rem;
}

.login-button {
    margin-top: 1rem;
    background-color: var(--accent);
}

.forgot-password-button {
    margin-top: 1rem;
}