$mode: dark;

$primary: #000;
$secondary: #202020;
$secondary-highlight: #3a3a3a;
$border: #303030;
$text: #fff;
$text-light: #d1d1d1;

$light-primary: #ffffff;
$light-secondary: #dfdfdf;
$light-secondary-highlight: #cecece;
$light-border: #aaa;
$light-text: #000000;
$light-text-light: #272727;