$mode: dark;

$primary: #000;
$secondary: #202020;
$secondary-dark: #141414;
$accent: #0099ff;
$secondary-highlight: #3a3a3a;
$border: #303030;
$border-dark: #1f1f1f;
$text: #fff;
$text-light: #d1d1d1;
$text-very-light: #a3a3a3;

$light-primary: #ffffff;
$light-secondary: #dfdfdf;
$light-secondary-dark: #b6b6b6;
$light-secondary-highlight: #cecece;
$light-border: #aaa;
$light-border-dark: #888888;
$light-text: #000000;
$light-text-light: #272727;
$light-text-very-light: #474747;