// Overrides
body, html {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--text);
}

a {
  font-weight: 500;
  color: #0077ff;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #0077ff;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

input {
  background-color: var(--secondary-dark);
  border-radius: 4px;
  border: none;
  padding: 0.2rem 0.5rem;
  margin: 0;
  font: inherit;
}

.bold {
  font-weight: bold;
}