@import './variables';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color-scheme: light dark;

  --white: #fff;
  --black: #000;
  --red: #c53c3c;
  --green: #5ee78c;
  --primary: #{$primary};
  --secondary: #{$secondary};
  --secondary-highlight: #{$secondary-highlight};
  --secondary-dark: #{$secondary-dark};
  --border: #{$border};
  --border-dark: #{$border-dark};
  --text: #{$text};
  --text-light: #{$text-light};
  --text-very-light: #{$text-very-light};
  --accent: #{$accent};
}

.light-mode {
  --primary: #{$light-primary};
  --secondary: #{$light-secondary};
  --secondary-dark: #{$light-secondary-dark};
  --secondary-highlight: #{$light-secondary-highlight};
  --border: #{$light-border};
  --border-dark: #{$light-border-dark};
  --text: #{$light-text};
  --text-very-light: #{$light-text-very-light};
  --text-light: #{$light-text-light};
}